@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Sacramento");
li, a {
  list-style: none;
  text-decoration: none;
  color: black; }

body {
  height: 100vh;
  overflow: hidden;
  font-family: 'Open Sans Condensed', sans-serif; }

a:hover, a.mylink:hover {
  color: brown; }

a:hover > i.fa, i.myicon {
  color: brown; }

a, li.linked, i.linked {
  cursor: pointer; }

.row {
  margin-bottom: 5%; }

.skeleton-template button:hover, .skeleton-template input[type="button"]:hover, .skeleton-template input[type="submit"]:hover {
  background: brown;
  color: white; }

.skeleton-template a:hover, .skeleton-template i:hover, li.linked:hover {
  color: brown; }

.skeleton-template {
  padding-top: 1%; }

.space-top {
  margin-top: 15%; }

.mycontainer {
  width: 90%;
  margin-right: auto;
  margin-left: auto; }

.post-content.hidden, .social-content.hidden, .about-content.hidden {
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px); }

.post-content, .social-content, .about-content {
  -webkit-transition: all  1s linear;
  transition: all  1s linear;
  -webkit-transform: translateX(35px);
          transform: translateX(35px);
  opacity: 0; }

.margin-twenty {
  margin-top: 20%; }

.margin-ten {
  margin-top: 10%; }

.cursive-font {
  font-family: 'Sacramento', cursive; }

.title-head img {
  position: relative;
  width: 25px;
  padding-top: 5px; }

.nav-head {
  text-align: right; }

.menu li {
  display: inline-block;
  margin-right: 5%; }

.image-content img {
  position: relative;
  width: 40%;
  padding-left: 20%;
  padding-top: 20%; }

.form-content h6.terms {
  display: inline; }

input[type="checkbox"] {
  appereance: none; }

.about-content {
  text-align: center; }

.post-content {
  margin-bottom: 3%;
  text-align: center; }

.post-content h2 {
  cursor: pointer;
  padding-top: 2%; }

.post-content p {
  display: none;
  text-align: justify;
  padding: 3%; }

.border-no-space {
  margin-bottom: 3%;
  border: 1px solid black;
  border-radius: 5px; }

.post-content:first-child {
  margin-top: 3%; }

.inner-contact {
  margin: 0px;
  text-align: center; }

.icon {
  height: 25vh; }

.icon a i {
  font-size: 3rem;
  cursor: pointer; }
